*Scrape and analyse customer review data to uncover findings for British Airways*

# Task Overview

**What you'll learn**
- How data scientists at British Airways apply analytical skills to make tangible impact by providing recommendations, tools, and models that drive key business decisions

 
**What you'll do**
- Scrape and collect customer feedback by analysing third-party data
- Present your insights in using PowerPoint

**Message from British Airways**

| Watch Video |
| :------: |
| [Click Here](https://fast.wistia.net/embed/iframe/dlg3xcaofh?seo=false&videoFoam=false) |

# Here is the background information on your task

British Airways (BA) is the flag carrier airline of the United Kingdom (UK). Every day, thousands of BA flights arrive to and depart from the UK, carrying customers across the world. Whether it’s for holidays, work or any other reason, the end-to-end process of scheduling, planning, boarding, fuelling, transporting, landing, and continuously running flights on time, efficiently and with top-class customer service is a huge task with many highly important responsibilities.

As a data scientist at BA, it will be your job to apply your analytical skills to influence real life multi-million-pound decisions from day one, making a tangible impact on the business as your recommendations, tools and models drive key business decisions, reduce costs and increase revenue.

Customers who book a flight with BA will experience many interaction points with the BA brand. Understanding a customer's feelings, needs, and feedback is crucial for any business, including BA.

**This first task is focused on** 
1. scraping and collecting customer feedback and reviewing data from a third-party source 
2. analysing this data to present any insights you may uncover.

# Here is your task

**Scrape data from the web**
- The first thing to do will be to scrape review data from the web. For this, you should use a website called [Skytrax](https://www.airlinequality.com/).
- The team leader wants you to **focus on reviews specifically about the airline itself**. You should collect as much data as you can in order to improve the output of your analysis. To get started with the data collection, you can use the “Jupyter Notebook” in the Resources section below to run some Python code that will help to collect some data.

**Analyse data**
- Once you have your dataset, you need to prepare it. The data will be very messy and contain purely text. You will need to **perform data cleaning** in order to prepare the data for analysis. When the data is clean, you should **perform your own analysis to uncover some insights**. As a starting point, you could look at `topic modelling`, `sentiment analysis` or `wordclouds` to provide some insight into the content of the reviews. It is recommended to complete this task using Python, however, you can use any tool that you wish. You can use some of the documentation websites provided in the Resources section below to analyse the data.
- Please ensure that you have created a folder called "data" and mapped your file path.

**Present insights**
- Your manager would like you to **summarise your findings within a single PowerPoint slide**, so that they can present the results at the next board meeting. You should create visualisations and metrics to include within this slide, as well as clear and concise explanations in order to quickly provide the key points from your analysis. Use the **"PowerPoint Template"** provided to complete the slide.

Once you’ve completed your PowerPoint, please submit your document below. 

**Here are some resources to help you**

| Resoure  | Link |
| :------: | :------: |
| Getting Started (Web Scrapping .ipynb)| [Link](https://cdn.theforage.com/vinternships/companyassets/tMjbs76F526fF5v3G/L3MQ8f6cYSkfoukmz/1666876431005/getting_started.ipynb) |
| Web scraping in Python with BeautifulSoup | [Link](https://pypi.org/project/beautifulsoup4/) |
| Data manipulation in Python with Pandas | [Link](https://pandas.pydata.org/) |
| Data visualisation in Python with Matplotlib | [Link](https://matplotlib.org/) |
| Presentation Template| [Link](https://cdn.theforage.com/vinternships/companyassets/tMjbs76F526fF5v3G/L3MQ8f6cYSkfoukmz/1670342160723/Presentation%20Template%20-%20Task%201.pptx) |

# Example Answer

Great work! Take a look at the example answer below to see how a professional would have attempted this task. Think about what you did well and how you can improve.

| Task 1 Example Answer |
| :------: |
| [PDF](https://cdn.theforage.com/vinternships/companyassets/tMjbs76F526fF5v3G/L3MQ8f6cYSkfoukmz/1692891971040/Task%201%20-%20Example%20Answer.pdf) |

> *Note: 
> <br> This is just the example PPT file on the Forage platform.*

---

# Scraping data from Skytrax

There are a lot of reviews from different range of airlines. We are only interested in **British Airlines** reviews. The link related to **British Airlines** is given by this [link](https://www.airlinequality.com/airline-reviews/british-airways). The overall score for British Airline is 5/10 out of 3670 total reviews.

> *Note:*
> <br> *The number of reviews and other review attributes such as overall score, etc will be changing as the time goes on.
> <br> I scrapped the data in **9th October 2023**.* 
> <br> *So it's most likely that the number of reviews would be increasing after the day I scrapped this website.*


<img src="image/task 1/overall review.png" width="400">

In [1]:
# standard libraries
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

# scrapping libraries
import requests
from bs4 import BeautifulSoup

# others
from tqdm import tqdm
import re

## Exampel of scrapped data

Below here are two examples of the resulting data when we have done the scrapping process for a single review.

In [2]:
# # example of scrapped data
# def example_scraped_data(pages, page_sizes, review_number):
#     specific_url = f'https://www.airlinequality.com/airline-reviews/british-airways/page/{pages}/?sortby=post_date%3ADesc&pagesize={page_sizes}'
#     response = BeautifulSoup(requests.get(specific_url).content, 'html.parser')

#     print(response.find_all('h2', {'class': 'text_header'})[review_number].get_text())
#     print(response.find_all('h3', {'class':'text_sub_header'})[review_number].get_text().strip(), '\n')
#     print(response.find_all('div', {'class':'text_content'})[review_number].get_text().strip(), '\n')
#     print(response.find_all('div', {'itemprop':'reviewRating'})[review_number].get_text().strip())

#     one_review = response.find_all('div', {'class':'review-stats'})[review_number]
    
#     others =  [v for v in one_review.find_all('tr') if v.find_all('td')[1]['class'][0] == 'review-value']
#     display([f"{v.find_all('td')[0].get_text()} - {v.find_all('td')[1].get_text()}" for v in others])

#     satisfaction = [v for v in one_review.find_all('tr') if v.find_all('td')[1]['class'][0] == 'review-rating-stars']
#     display([f"""{v.find_all('td')[0].get_text()} - {[star.get_text() for star in v.find_all('td')[1].find_all('span') if ' '.join(star['class']) == 'star fill'][-1]}""" for v in satisfaction])

In [3]:
# example_scraped_data(pages = 1, page_sizes = 5, review_number = 3)

In [4]:
# example_scraped_data(pages = 100, page_sizes = 10, review_number = 1)

## Scrape all British Airways reviews

We can set on the website that for each page will be displaying 1500 reviews (`page_sizes = 1500`), and since there were 3670 total reviews in [British Airways Airline](https://www.airlinequality.com/airline-reviews/british-airways), we will be scraping 3 pages (`pages = 3`).

In [5]:
# SCRAPE THE WEBSITE

# select the number of pages to scrape
pages = 3

# select how many reviews are in each page
page_sizes = 1500

# select British Airways Reviews URL
base_url = 'https://www.airlinequality.com/airline-reviews/british-airways'

# there are 3 pages and for each page there are 1500 reviews, except the last page which is only 670 reviews 
headers = []; authors = []; reviews = []; ratings = []; others = []; satisfactions = []
for page in tqdm(range(1, pages + 1)):
    
    # get specific URL
    specific_url = f'{base_url}/page/{page}/?sortby=post_date%3ADesc&pagesize={page_sizes}'
    
    # get response object for specified URL
    response = BeautifulSoup(requests.get(specific_url).content, 'html.parser')
    
    # gather all data 
    zip_response = zip(response.find_all('h2',  {'class':'text_header'}),         # HEADER
                       response.find_all('h3',  {'class':'text_sub_header'}),     # AUTHOR
                       response.find_all('div', {'class':'text_content'}),        # TEXT REVIEW
                       response.find_all('div', {'itemprop':'reviewRating'}),     # OVERALL RATING
                       response.find_all('div', {'class':'review-stats'})         # OTHER STATS (satisfaction level and other type attributes)
                       )
    
    # for each page, scrape all the reviews (if there is an error raised, the scrapped review will be NaN)
    for header, author, review, rating, stats in zip_response:
        try:
            headers.append(header.get_text().strip().strip('"'))
        except:
            headers.append(np.nan)
            
        try:
            authors.append(author.get_text().strip())
        except:
            authors.append(np.nan)
        
        try:    
            reviews.append(review.get_text().strip())
        except:
            reviews.append(np.nan)
        
        try:
            ratings.append(rating.get_text().strip())
        except:
            ratings.append(np.nan)
            
        try:    
            temp_list_1 =  [v for v in stats.find_all('tr') if v.find_all('td')[1]['class'][0] == 'review-value']
            others.append(([f"{v.find_all('td')[0].get_text()} - {v.find_all('td')[1].get_text()}" for v in temp_list_1]))           
        except:
            others.append(np.nan)
            
        try:
            temp_list_2 = [v for v in stats.find_all('tr') if v.find_all('td')[1]['class'][0] == 'review-rating-stars']
            satisfactions.append([f"{v.find_all('td')[0].get_text()} - {[star.get_text() for star in v.find_all('td')[1].find_all('span') if ' '.join(star['class']) == 'star fill'][-1]}" for v in temp_list_2])
        except:
            satisfactions.append(np.nan)

100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:34<00:00, 11.37s/it]

In [6]:
df = pd.DataFrame({'Headers':headers, 
                   'Authors':authors,
                   'Reviews':reviews,
                   'Ratings':ratings,
                   'Others':others,
                   'Satisfactions':satisfactions})
df.to_csv('dataset/British_Airways_Reviews (Raw).csv', index = False)

display(df)
print(f'====== Missing values ====== \n{df.isnull().sum()}')

,Headers,Authors,Reviews,Ratings,Others,Satisfactions
0,our luggage was soaking wet,Terry Thomason (United States) 8th October 2023,✅ Trip Verified | Our connecting flight from L...,1/10,"[Type Of Traveller - Couple Leisure, Seat Type...","[Seat Comfort - 3, Cabin Staff Service - 3, Fo..."
1,The worst airline I have ever flown,T Hanson (Australia) 7th October 2023,✅ Trip Verified | The worst airline I have e...,1/10,"[Aircraft - Boeing 787, Type Of Traveller - Co...","[Seat Comfort - 1, Cabin Staff Service - 1, Fo..."
2,Excellent service levels,Peter Costello (United Kingdom) 7th October 2023,"✅ Trip Verified | Excellent service levels, ...",10/10,"[Aircraft - Boeing 777, Type Of Traveller - So...","[Seat Comfort - 5, Cabin Staff Service - 5, Fo..."
3,British Airways was absolutely shocking,Kane Kelly (United Kingdom) 5th October 2023,Not Verified | Booked a very special holiday ...,1/10,"[Aircraft - BA366, Type Of Traveller - Couple ...","[Seat Comfort - 1, Cabin Staff Service - 1, Fo..."
4,service was mediocre at best,Gary Storer (United Kingdom) 3rd October 2023,"Not Verified | Just returned from Chicago, fle...",2/10,"[Aircraft - A380, Type Of Traveller - Couple L...","[Seat Comfort - 2, Cabin Staff Service - 3, Fo..."
...,...,...,...,...,...,...
3660,British Airways customer review,S Luqman (United Kingdom) 29th August 2012,Just got back from Bridgetown Barbados flying ...,10/10,"[Seat Type - Economy Class, Recommended - no]","[Seat Comfort - 2, Cabin Staff Service - 3, Fo..."
3661,British Airways customer review,D Smith (United Kingdom) 29th August 2012,LHR-JFK-LAX-LHR. Check in was ok apart from be...,9/10,"[Seat Type - Economy Class, Recommended - no]","[Seat Comfort - 2, Cabin Staff Service - 3, Fo..."
3662,British Airways customer review,W Benson (United Kingdom) 29th August 2012,HKG-LHR in New Club World on Boeing 777-300 - ...,5/10,"[Seat Type - Business Class, Recommended - yes]",NaN
3663,British Airways customer review,Michael Dielissen (Canada) 29th August 2012,YYZ to LHR - July 2012 - I flew overnight in p...,4/10,"[Seat Type - Premium Economy, Recommended - yes]","[Seat Comfort - 4, Cabin Staff Service - 3, Fo..."
3664,British Airways customer review,D Nolan (Ireland) 29th August 2012,Flew return in CW from LHR to BKK in August 20...,4/10,"[Seat Type - Business Class, Recommended - yes]","[Seat Comfort - 4, Cabin Staff Service - 3, Fo..."

====== Missing values ======
Headers          0
Authors          0
Reviews          0
Ratings          0
Others           0
Satisfactions    9
dtype: int64

# Data wrangling

This section is the process of "Data Wrangling" which is very crucial for analyzing purely text-based data in which the data will be very messy. This process is performed in order to ensure our data is reliable and complete to be used for analysis.
- Check duplicate data points.
- Remove missing values.
    - There are 9 missing values to remove in `Satisfactions` column.
- Change incorrect data types.
    - `Ratings` should be numeric type.
- Extract features or feature engineering. (Some columns still have messy structure of information)
    - `Reviews` containing whether the reviewer is verified or not.
    | Extracted Feature | Description |
    | :------: | :------: |
    | Verified | whether reviewers verify their reviews with e-ticket, booking or boarding pass |
        
    - `Authors` containing reviewer name, country they are living, and review's published date.
        - Relevant information in `Authors` column:
        | Extracted Feature | Description |
        | :------: | :------: |
        | Passenger Name | reviewer name |
        | Published Date | reviewer published date (Date - Month - Year) |
        | Country | reviewer country  (UK, USA, etc) |
        
    - `Others` and `Satisfactions` containing a list of some other relevant information beside the main review itself.
        - Relevant information in `Others` column:
        | Extracted Feature | Description |
        | :------: | :------: |
        | Aircraft Type | aircraft type (if known) |
        | Traveller Type | type of traveller (Business, Family, Couple, and Solo) |
        | Seat Type | type of seat (First, Business, Premium, and Economy) |
        | Fly Date | departure date (Month - Year) |
        | Recommended | would reviewer recommend this airline? (yes or no) |
        | Departure | departure from |
        | Arrival | arrival to |
        | Via Route | via route (if there is) |

        - Relevant information in `Satisfactions` column:
        | Extracted Feature | Description |
        | :------: | :------: |
        | Seat Comfort | seat comfort (satisfaction level 1 - 5 stars) |
        | Cabin Staff Service | cabin staff service (satisfaction level 1 - 5 stars) |
        | Food and Beverages | food and beverages (satisfaction level 1 - 5 stars) |
        | Inflight Entertainment | inflight entertaiment (satisfaction level 1 - 5 stars) |
        | Ground Service | ground service (satisfaction level 1 - 5 stars) |
        | Wifi & Connectivity | wifi and connectivity (satisfaction level 1 - 5 stars) |
        | Value For Money | value for money (satisfaction level 1 - 5 stars) |

## Check duplicate data points

In [7]:
# check duplicates
df[df.astype({'Others':'str',
              'Satisfactions':'str'}).duplicated(subset = ['Reviews'], keep = False)].sort_values('Reviews')

,Headers,Authors,Reviews,Ratings,Others,Satisfactions
2498,"comfortable, if narrow, seats",Richard Hodges (United Kingdom) 1st December 2015,British Airways from Tampa to Gatwick on Boein...,8/10,"[Aircraft - Boeing 777, Type Of Traveller - Co...","[Seat Comfort - 4, Cabin Staff Service - 4, Fo..."
2526,"comfortable, if narrow, seats",Richard Hodges (United Kingdom) 20th November ...,British Airways from Tampa to Gatwick on Boein...,8/10,"[Aircraft - Boeing 777, Type Of Traveller - Co...","[Seat Comfort - 4, Cabin Staff Service - 4, Fo..."
2499,crummy Boeing 747s,Richard Hodges (United Kingdom) 1st December 2015,London Heathrow to Miami on one of British Air...,6/10,"[Aircraft - Boeing 747-400, Type Of Traveller ...","[Seat Comfort - 4, Cabin Staff Service - 3, Fo..."
2528,crummy Boeing 747s,Richard Hodges (United Kingdom) 20th November ...,London Heathrow to Miami on one of British Air...,6/10,"[Aircraft - Boeing 747-400, Type Of Traveller ...","[Seat Comfort - 4, Cabin Staff Service - 3, Fo..."

In [8]:
# drop one duplicate, and keep the first duplicated value
df = df.drop_duplicates(subset = ['Reviews'], keep = 'first').reset_index(drop = True)
df.shape

(3663, 6)

## Remove missing values

In [9]:
# remove NaNs
df = df.dropna().reset_index(drop = True)
print(f'====== Missing values ====== \n{df.isnull().sum()}')
df.shape

====== Missing values ======
Headers          0
Authors          0
Reviews          0
Ratings          0
Others           0
Satisfactions    0
dtype: int64

(3654, 6)

## Change incorrect data types

In [10]:
# change "Ratings" into numeric type and save as a new column named "Overall Rating"
df['Overall Rating'] = df['Ratings'].apply(lambda x: x.split('/')[0]).astype('int64')

## Extract features or feature engineering

In [11]:
# create helper function to extract relevant information in "Others" and "Satisfaction" columns
def extract_info(column_name, data_point):
    temp_list = [v for v in data_point if re.match(column_name, v)]
    if len(temp_list) != 0:
        return temp_list[0].split(' - ')[-1]
    else:
        return np.nan

### Reviews column

In [12]:
# extract "Verified"
def extract_verified(x):
    temp = x.split('|')
    if len(temp) != 2:
        return 'Not Verified'
    else:
        return temp[0].strip('✅|❎').strip()
    return 
df['Verified'] = df['Reviews'].apply(lambda x: extract_verified(x))
df.loc[3285, ['Verified']] = 'Not Verified'
df['Verified'] = df['Verified'].replace({'Verified Review': 'Verified',
                                         'Trip Verified':'Verified',
                                         'Unverified':'Not Verified'})

### Authors column

In [13]:
# extract "Passenger Name"
def extract_passenger_name(x):
    temp_list = re.findall(re.compile(r'^(.*?)\('), x)
    if len((temp_list)) != 0:
        return temp_list[0]
    else:
        return np.nan
df['Passenger Name'] = df['Authors'].apply(lambda x: extract_passenger_name(x))

# extract "Published Date"
df['Published Date'] = pd.to_datetime(df['Authors'].apply(lambda x: ' '.join(x.split(' ')[-3:])))

# extract "Country"
def extract_country(x):
    temp_list = re.findall(re.compile(r'\(([^)]*)\)'), x)
    if len((temp_list)) != 0:
        return temp_list[0]
    else:
        return np.nan
df['Country'] = df['Authors'].apply(lambda x: extract_country(x))

### Others column

In [14]:
# extract "Aircraft Type"
df['Aircraft Type'] = df['Others'].apply(lambda x: extract_info('Aircraft ', x))

# extract "Traveller Type"
df['Traveller Type'] = df['Others'].apply(lambda x: extract_info('Type Of Traveller ', x))

# extract "Seat Type"
df['Seat Type'] = df['Others'].apply(lambda x: extract_info('Seat Type ', x))

# extract "Fly Date"
df['Fly Date'] = pd.to_datetime(df['Others'].apply(lambda x: extract_info('Date Flown ', x)))

# extract "Recommended"
df['Recommended'] = df['Others'].apply(lambda x: extract_info('Recommended ', x))

# extract "Departure"
def extract_departure(x):
    string = extract_info('Route ', x)
    if type(string) == str:
        return string.split('to')[0]
    else:
        return np.nan
    return string
df['Departure'] = df['Others'].apply(lambda x: extract_departure(x))

# extract "Arrival"
def extract_arrival(x):
    string = extract_info('Route ', x)
    if type(string) == str:
        return string.split('to')[-1].strip().split('via')[0].strip()
    else:
        return np.nan
    return string
df['Arrival'] = df['Others'].apply(lambda x: extract_arrival(x))

# extract "Via Route"
def extract_via_route(x):
    string = extract_info('Route ', x)
    if type(string) == str:
        string_route = string.split('to')[-1].split('via')
        if len(string_route) == 2:
            return string_route[-1]
        else:
            return np.nan
    else:
        return np.nan
    return string
df['Via Route'] = df['Others'].apply(lambda x: extract_via_route(x))

### Satisfactions column

In [15]:
# extract "Seat Comfort"
df['Seat Comfort'] = df['Satisfactions'].apply(lambda x: extract_info('Seat Comfort ', x)).astype(float)

# extract "Cabin Staff Service"
df['Cabin Staff Service'] = df['Satisfactions'].apply(lambda x: extract_info('Cabin Staff Service ', x)).astype(float)

# extract "Food and Beverages"
df['Food and Beverages'] = df['Satisfactions'].apply(lambda x: extract_info('Food & Beverages ', x)).astype(float)

# extract "Inflight Entertainment"
df['Inflight Entertainment'] = df['Satisfactions'].apply(lambda x: extract_info('Inflight Entertainment ', x)).astype(float)

# extract "Ground Service"
df['Ground Service'] = df['Satisfactions'].apply(lambda x: extract_info('Ground Service ', x)).astype(float)

# extract "Wifi & Connectivity"
df['Wifi and Connectivity'] = df['Satisfactions'].apply(lambda x: extract_info('Wifi & Connectivity ', x)).astype(float)

# extract "Value For Money"
df['Value For Money'] = df['Satisfactions'].apply(lambda x: extract_info('Value For Money ', x)).astype(float)

# Final dataset

Since we have taken all available information in the column `Authors`, `Others`, and `Satisfaction`, we could remove those columns. Then we can now save the data locally.

> *Note: 
> <br>columns to remove are `Ratings`, `Authors`, `Others`, and `Satisfactions`.*

In [16]:
# drop unnecessary columns
df_final = df.drop(['Ratings', 'Authors', 'Others', 'Satisfactions'], axis = 1)

# rearrange the columns
columns = ['Passenger Name', 'Published Date', 'Country', 'Headers', 'Reviews', 'Verified',
           'Fly Date', 'Departure', 'Via Route', 'Arrival', 'Aircraft Type', 'Traveller Type', 'Seat Type',
           'Seat Comfort', 'Cabin Staff Service', 'Food and Beverages', 'Inflight Entertainment', 'Ground Service', 'Wifi and Connectivity', 'Value For Money',
           'Overall Rating', 'Recommended']
df_final = df_final[columns]

# save the data locally
df_final.to_csv('dataset/British_Airways_Reviews.csv', index = False)
df_final

,Passenger Name,Published Date,Country,Headers,Reviews,Verified,Fly Date,Departure,Via Route,Arrival,Aircraft Type,Traveller Type,Seat Type,Seat Comfort,Cabin Staff Service,Food and Beverages,Inflight Entertainment,Ground Service,Wifi and Connectivity,Value For Money,Overall Rating,Recommended
0,Terry Thomason,2023-10-08,United States,our luggage was soaking wet,✅ Trip Verified | Our connecting flight from L...,Verified,2023-09-01,Atlanta,London,Glasgow,NaN,Couple Leisure,Economy Class,3.0,3.0,1.0,4.0,1.0,4.0,3.0,1,no
1,T Hanson,2023-10-07,Australia,The worst airline I have ever flown,✅ Trip Verified | The worst airline I have e...,Verified,2023-10-01,Singapore,NaN,Sydney,Boeing 787,Couple Leisure,Economy Class,1.0,1.0,2.0,1.0,1.0,NaN,1.0,1,no
2,Peter Costello,2023-10-07,United Kingdom,Excellent service levels,"✅ Trip Verified | Excellent service levels, ...",Verified,2023-10-01,London,NaN,New York JFK,Boeing 777,Solo Leisure,First Class,5.0,5.0,5.0,4.0,5.0,5.0,5.0,10,yes
3,Kane Kelly,2023-10-05,United Kingdom,British Airways was absolutely shocking,Not Verified | Booked a very special holiday ...,Not Verified,2023-08-01,Heathrow,NaN,Marseille,BA366,Couple Leisure,Business Class,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1,no
4,Gary Storer,2023-10-03,United Kingdom,service was mediocre at best,"Not Verified | Just returned from Chicago, fle...",Not Verified,2023-10-01,Chicago,Heathrow,Manchester,A380,Couple Leisure,Economy Class,2.0,3.0,1.0,NaN,2.0,NaN,2.0,2,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,W Benson,2012-08-29,United Kingdom,British Airways customer review,LHR-HKG on Boeing 747 - 23/08/12. Much has bee...,Not Verified,NaT,NaN,NaN,NaN,NaN,NaN,Economy Class,2.0,3.0,2.0,3.0,NaN,NaN,3.0,5,no
3650,S Luqman,2012-08-29,United Kingdom,British Airways customer review,Just got back from Bridgetown Barbados flying ...,Not Verified,NaT,NaN,NaN,NaN,NaN,NaN,Economy Class,2.0,3.0,1.0,4.0,NaN,NaN,2.0,10,no
3651,D Smith,2012-08-29,United Kingdom,British Airways customer review,LHR-JFK-LAX-LHR. Check in was ok apart from be...,Not Verified,NaT,NaN,NaN,NaN,NaN,NaN,Economy Class,2.0,3.0,1.0,4.0,NaN,NaN,3.0,9,no
3652,Michael Dielissen,2012-08-29,Canada,British Airways customer review,YYZ to LHR - July 2012 - I flew overnight in p...,Not Verified,NaT,NaN,NaN,NaN,NaN,NaN,Premium Economy,4.0,3.0,3.0,4.0,NaN,NaN,4.0,4,yes
3653,D Nolan,2012-08-29,Ireland,British Airways customer review,Flew return in CW from LHR to BKK in August 20...,Not Verified,NaT,NaN,NaN,NaN,NaN,NaN,Business Class,4.0,3.0,2.0,4.0,NaN,NaN,3.0,4,yes